.container {
    max-width: 75rem;
}

.blog-masthead {
    margin-bottom: 3rem;
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

.blog-masthead > .container {
    padding-left: 0;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath d='M4 7h22M4 15h22M4 23h22' stroke='%23777' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round'/%3E%3C/svg%3E");
}

.navbar-nav .nav-item:first-child > .nav-link {
 padding-left: 0;
}

.nav-item.dropdown .dropdown-menu {
    padding-left: 1rem;
}

    /* Nav links */
.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-item .dropdown-item {
    position: relative;
    font-weight: 500;
    padding: 0;
    color: #777;
}

@media (min-width: 992px) {
    .navbar-dark .navbar-nav .nav-link,
    .navbar-dark .navbar-nav .nav-item .dropdown-item {
        padding: 0 1rem;
    }
}

.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover{
    color: #333;
    background-color: transparent;
}

.navbar-dark .navbar-nav .nav-link.active:after {
    content:none;
}
