{{/* Titel */}}
{{ $titleFontSize   := 48 }}
{{ $titleLineHeight := 62 }}
{{ $titleMaxChars   := 34 }}
{{ $titleMaxLines   := 3 }}
{{ $titleColor      := "#2D3A2D" }}
{{ $titleStartY     := 200 }}

{{/* Summary */}}
{{ $summaryFontSize   := 28 }}
{{ $summaryLineHeight := 38 }}
{{ $summaryMaxChars   := 55 }}
{{ $summaryColor      := "#4F5A4E" }}
{{ $summaryGap        := 20 }}
{{ $imgHeight         := 627 }}
{{ $bottomPadding     := 20 }}

{{ $textX := 36 }}
{{ $font  := resources.Get "fonts/JetBrainsMono-Bold.ttf" }}
{{ $img   := resources.Get "images/og-template.png" }}


{{ $title      := .Title | default site.Title }}
{{ $titleLines := partial "og-wordwrap.html" (dict "text" $title "maxChars" $titleMaxChars "maxLines" $titleMaxLines) }}

{{ range $i, $line := $titleLines }}
  {{ $y := add $titleStartY (mul $i $titleLineHeight) }}

  {{ $img = $img | images.Filter (images.Text $line (dict
    "size"        $titleFontSize
    "color"       $titleColor
    "font"        $font
    "x"           $textX
    "y"           $y
    "linespacing" 14
  )) }}
{{ end }}


{{/* ══════════════════════════════════════════════════════════
     3. SUMMARY RENDERN (falls vorhanden)
     ══════════════════════════════════════════════════════════ */}}

{{ $summaryRaw  := cond (ne .Description "") .Description .Summary }}
{{ $summaryText := $summaryRaw | plainify | replaceRE `\s+` " " | strings.TrimLeft " " }}

{{ with $summaryText }}
  {{/* Y-Position: nach der letzten Titelzeile + Abstand */}}
  {{ $summaryStartY := add $titleStartY (add (mul (len $titleLines) $titleLineHeight) $summaryGap) }}

  {{/* Summary ohne Kürzung umbrechen (maxLines=0 → unbegrenzt) */}}
  {{ $summaryLines := partial "og-wordwrap.html" (dict "text" . "maxChars" $summaryMaxChars "maxLines" 0) }}

  {{/* Prüfen, ob der Summary-Text auf die Grafik passt */}}
  {{ $lastLineBottom := add $summaryStartY (add (mul (sub (len $summaryLines) 1) $summaryLineHeight) $summaryFontSize) }}
  {{ if gt $lastLineBottom (sub $imgHeight $bottomPadding) }}
    {{ errorf "OG-Bild für '%s': Summary passt nicht auf die Grafik (%d Zeilen, letzte endet bei Y=%d, max Y=%d). Kürze den Summary-Text." $.Title (len $summaryLines) $lastLineBottom (sub $imgHeight $bottomPadding) }}
  {{ end }}

  {{ range $i, $line := $summaryLines }}
    {{ $y := add $summaryStartY (mul $i $summaryLineHeight) }}

    {{ $img = $img | images.Filter (images.Text $line (dict
      "size"        $summaryFontSize
      "color"       $summaryColor
      "font"        $font
      "x"           $textX
      "y"           $y
      "linespacing" 8
    )) }}
  {{ end }}
{{ end }}

{{ return $img }}
