{{ define "main" }}

{{ partial "hero.html" . }}


{{ $latest := index (where site.RegularPages "Section" "blog").ByDate.Reverse 0 }}
{{ with $latest }}
    {{ partial "next-event.html" $latest }}
{{ end }}



<section class="jug-main-container">
    <div>
        <div class="feed-head">
            <h3 class="section-label">Beiträge</h3>
            <a href="{{ partial "url-of-nav-element.html" (dict "kv" . "key" "archiv") }}" class="link-more">Alle ansehen</a>
        </div>

        {{ range $index, $post := first 5 site.RegularPages }}

            <article class="post">
                <div class="post-meta">
                    <span class="tag">
                        Event
                    </span>
                    <span>·</span>
                    <span>
                        {{ time.Format "02.01.2006" .Params.date }}
                    </span>
                    <span>·</span>
                    <span>
                        {{ $post.Params.author }}
                    </span>
                </div>

                <!-- todo h4 hier richtig? -->
                <h4 class="post-title"><a href="{{ $post.RelPermalink }}">
                    {{ $post.LinkTitle }}
                </a></h4>

                <div class="post-excerpt">
                    {{ $post.Summary }}
                </div>

                <a href="{{ $post.RelPermalink }}" class="post-more">
                    Weiterlesen <span>→</span>
                </a>
            </article>

        {{ end }}


    </div>

    <aside class="main-sidebar">
        {{ partial "last-posts.html" }}
    </aside>
</section>

{{ end }}

